$title-color: #25A244;

@media only screen and (max-width:650px){
    
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }
    header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #logo{
        width: 90%; 
    }

    h1{
        color: #1A7431;
        text-transform: uppercase;
        font-size: 70px;
        text-align: center;
    }
    h2{
        color: #208B3A;
    }
    .titulosDeArticulos{
        color: $title-color;
    }
    #biografia{
        color: #10451D;
    }
    
   
    .nav{
        .nav__list{
            @include linkSize(35px, $title-color);
            list-style-type: none;
            text-align: center;
            letter-spacing:5px;
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .nav__item{
            display: flex;
            
        }
        
        .nav__link{
            @include linkSize(35px, $title-color);
            text-transform: uppercase;  
            text-decoration: none;
            &--activo{
                color: #2DC653;
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .nav__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }
    }
    @keyframes aumentoEscala {
        from{
            transform: scale(1,1);
        }
        to{
            transform: scale(1.5,1.5);
            
        }
        
    }
    
    
    body{
        background-image: radial-gradient(circle, rgba(183,239,197,1) 62%, rgba(124,124,124,1) 100%);
        font-family: 'Odibee Sans', cursive;
        
    }
    
    #bloqueIndex{
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 420px 300px 600px;
        justify-content: space-around;
        grid-template-areas: "ar1"
                             "ar2"
                             "bio";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    
    .articuloUno{
        
        grid-area: ar1;
    
    }
    
    .articuloDos{
      
        grid-area: ar2;
    }
    
    .bioIndex{
       
       border: 2px dashed black;
       padding: 15px;
       font-size: 17px;
       grid-area: bio;
       overflow: scroll;
    
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }

    .table{
        border: 1.5px solid black;
        padding: 10px;   
        .table__row{
            padding: 10px;
            .table__item{
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 30px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }
    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 100%;
            height: 800px - 400px;
            margin: 10px;
        }
    }

    .shop{
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 450px 450px 450px ;
        justify-content: space-around;
        grid-template-areas: "mike" "billie" "tre";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
               /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
        }
    
    }
    .footer{
        .footer__list{
            @include linkSize(20px, $title-color);
            list-style-type: none;
            text-align: center;
            letter-spacing:5px;
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            
        }
        .footer__item{
            display: flex;
            
        }
        .footer__link{
            @include linkSize(20px, $title-color);
            text-decoration: none;
            text-transform: uppercase;  
            &--activo{
                color: #2DC653;
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .footer__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }
        
    }

}

@media only screen and (min-width:650px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }
    header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #logo{
        width: 90%; 
    }

    h1{
        color: #1A7431;
        text-transform: uppercase;
        font-size: 70px;
        text-align: center;
    }
    h2{
        color: #208B3A;
    }
    .titulosDeArticulos{
        color: $title-color;
    }
    #biografia{
        color: #10451D;
    }

    .nav{
        .nav__list{
            @include linkSize(40px,$title-color);
            list-style-type: none;
            text-align: center;
            letter-spacing:5px;
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
        }
        .nav__item{
            display: flex;
            
        }
        
        .nav__link{
            @include linkSize(35px, $title-color);
            text-decoration: none;
            text-transform: uppercase;
            &--activo{
                color: #2DC653;
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .nav__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }

    }
    @keyframes aumentoEscala {
        from{
            transform: scale(1,1);
        }
        to{
            transform: scale(1.5,1.5);
            
        }
        
    }
    
    
    body{
        background-image: radial-gradient(circle, rgba(183,239,197,1) 62%, rgba(124,124,124,1) 100%);
        font-family: 'Odibee Sans', cursive;
    }
    
    #bloqueIndex{
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 420px 420px 600px;
        justify-content: space-around;
        grid-template-areas: "ar1"
                             "ar2"
                             "bio";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    
    .articuloUno{
        
        grid-area: ar1;
    
    }
    
    .articuloDos{
      
        grid-area: ar2;
    }
    
    .bioIndex{
       
       border: 2px dashed black;
       padding: 15px;
       font-size: 17px;
       grid-area: bio;
       overflow: scroll;
    
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }

    .table{
        border: 1.5px solid black;
        padding: 10px;   
        .table__row{
            padding: 10px;
            .table__item{
                padding: 10px;
                border: 1.5px solid black;
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 40px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }

    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 100%;
            height: 400px;
            margin: 10px;
        }
    }

    .shop{
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 450px 450px 450px ;
        justify-content: space-around;
        grid-template-areas: "mike" "billie" "tre";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
        }
    
    }
    .footer{
        .footer__list{
            @include linkSize(15px, $title-color);
            list-style-type: none;
            text-align: center;
            letter-spacing:5px;
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;
            
        }
        .footer__item{
            display: flex;
            
        }
        .footer__link{
            @include linkSize(15px,$title-color);
            text-decoration: none;
            text-transform: uppercase;
              
            &--activo{
                color: #2DC653;
                
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .footer__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }
        
    }
}
@media only screen and (min-width: 840px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }

    .nav{
        .nav__list{
            @include linkSize(35px,$title-color);
            list-style-type: none;
            text-align: center;
            letter-spacing:5px;
            text-decoration: none;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
        }
        .nav__item{
            display: flex;
            
        }
        
        .nav__link{
            @include linkSize(35px, $title-color);
            text-decoration: none;
            text-transform: uppercase;
            &--activo{
                color: #2DC653;
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .nav__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }

    }
    @keyframes aumentoEscala {
        from{
            transform: scale(1,1);
        }
        to{
            transform: scale(1.5,1.5);
            
        }
        
    }
    
   
}
@media only screen and (min-width: 1024px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }

    header{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    #logo{
        width: 90%; 
    }

    h1{
        color: #1A7431;
        text-transform: uppercase;
        font-size: 70px;
        text-align: center;
    }
    h2{
        color: #208B3A;
    }
    .titulosDeArticulos{
        color: $title-color;
    }
    #biografia{
        color: #10451D;
    }
    .nav{
        .nav__list{
            @include linkSize(35px,$title-color);
            list-style-type: none;
            text-align: center;
            text-decoration: none;
            letter-spacing:5px;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;
        }
        .nav__item{
            display: flex;
            
        }
        
        .nav__link{
            @include linkSize(35px,$title-color);
            text-decoration: none;
            text-transform: uppercase;
              
            &--activo{
                color: #2DC653;
                
            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .nav__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }

    }

    @keyframes aumentoEscala {
        from{
            transform: scale(1,1);
        }
        to{
            transform: scale(1.5,1.5);
            
        }
        
    }
    
    
    body{
        background-image: radial-gradient(circle, rgba(183,239,197,1) 62%, rgba(124,124,124,1) 100%);
        font-family: 'Odibee Sans', cursive;
    }
    
    #bloqueIndex{
        width: 100%;
        padding: 5px;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 420px 480px;
        justify-content: space-around;
        grid-template-areas: "ar1 bio"
                             "ar2 bio";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
                           
    
    }
    
    .articuloUno{
        
        grid-area: ar1;

    
    }
    
    .articuloDos{
      
        grid-area: ar2;
    }
    
    .bioIndex{
       
       border: 2px dashed black;
       padding: 25px;
       font-size:23px;
       grid-area: bio;
       overflow: scroll;
    
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }
    .table{
        border: 1.5px solid black;
        padding: 10px;     
        .table__row{
            padding: 10px;
            .table__item{
                padding: 10px;
                border: 1.5px solid black;
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 40px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }
    
    
    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 30%;
            height: 400px;
            margin: 10px;
        }
    }
    
    
    .shop{
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 450px ;
        justify-content: space-around;
        grid-template-areas: "mike billie tre";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
        }
    
    }
    
    .footer{
        .footer__list{
            @include linkSize(35px,$title-color);
            list-style-type: none;
            text-align: center;
            text-decoration: none;
            letter-spacing:5px;
            display: flex;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: stretch;
            
        }
        .footer__item{
            display: flex;
            
        }
        .footer__link{
            @include linkSize(35px,$title-color);
            text-decoration: none;
            text-transform: uppercase;
 
            &--activo{
                color: #2DC653;

            }
            &--activo:hover{
                animation-name: aumentoEscala;
                animation-duration: 2s;
                transform: scale(1.5,1.5);
            }
        }
        .footer__link:hover{
            animation-name: aumentoEscala;
            animation-duration: 2s;
            transform: scale(1.5,1.5);
        }
        
    }
}
