
/*FOOTER*/

footer {
    background: black;
    a {
      color: #fff;
      font-size: 17px;
      transition-duration: 0.2s;
      text-decoration: none;
    }
    a:hover {
     color: #3d6b01;
     text-decoration: none;
    } 
   
  }
  
  
  .copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
    padding-top: 1.5em;
    color: white;
  }
  
  
  ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
   
}

ul.social-network li {
    display: inline;
    margin: 10px;

  }
  
  
  /* footer social icons */
  
  
  .social-circle li a {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
  }
  
  .social-circle li i {
    margin: 10px;
    line-height: 30px;
    text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  .social-circle i {
    color: black;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }
  
  .social-network a {
    background-color: #3d6b01;
  }
   
.accordion-button{
    font-size: 20px;
}
.accordion-collapse{
    font-size: 2
    0px;
}
$title-color: #25A244;
@keyframes aumentoEscala {
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(1.5,1.5);
        
    }
    
}

body{
    background-image: radial-gradient(circle, rgba(183,239,197,1) 62%, rgba(124,124,124,1) 100%);
    font-family: 'Odibee Sans', cursive;
}
header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#logo{
    width: 90%; 
}

h1{
    color: #1A7431;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
}
h2{
    color: #208B3A;
}
.titulosDeArticulos{
    color: $title-color;
}
#biografia{
    color: #10451D;
}

@media only screen and (max-width:650px){
    
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }
    
    
   
    .navbar-nav{
        @include linkSize(55px,$title-color);
        align-items: center;
        text-transform: uppercase;
    }

    
    #bloqueIndex{
        width: 95%;
        padding: 5px;
        margin: 10px;
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }

    .table{
        border: 1.5px solid black;
        padding: 10px;   
        .table__row{
            padding: 10px;
            .table__item{
                padding: 10px;
                border: 1.5px solid black;
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 30px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }
    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 100%;
            height: 800px - 400px;
            margin: 10px;
        }
    }

    .shop{
        img{
            object-fit: contain;
        }
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 98%;
        grid-template-rows: 450px 450px 450px 450px 450px 450px ;
        justify-content: space-around;
        grid-template-areas: "mike" "billie" "tre" "mike2" "billie2" "tre2";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
               /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /* @extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
            &--cuatro{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike2;
            }
            &--cinco{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie2;
            }
        
            &--seis{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre2;
            }
        }
    
    }
    

}

@media only screen and (min-width:650px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }


    .navbar-nav{
        @include linkSize(55px,$title-color);
        align-items: center;
        text-transform: uppercase;
    }

    #bloqueIndex{
            width: 95%;
            padding: 5px;
            margin: 10px;
    }
    
    .articuloUno{
        
        grid-area: ar1;
    
    }
    
    .articuloDos{
      
        grid-area: ar2;
    }
    
    .bioIndex{
       
       border: 2px dashed black;
       padding: 15px;
       font-size: 17px;
       grid-area: bio;
       overflow: scroll;
    
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }

    .table{
        border: 1.5px solid black;
        padding: 10px;   
        .table__row{
            padding: 10px;
            .table__item{
                padding: 10px;
                border: 1.5px solid black;
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 40px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }

    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 100%;
            height: 400px;
            margin: 10px;
        }
    }

    .shop{
        img{
            object-fit: contain;
        }
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 450px 450px 450px ;
        justify-content: space-around;
        grid-template-areas: "mike billie" "tre mike2" "billie2 tre2";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
            &--cuatro{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike2;
            }
            &--cinco{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie2;
            }
        
            &--seis{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre2;
            }
        }
    
    }
    
}
@media only screen and (min-width: 840px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }

    .navbar-nav{
        @include linkSize(35px,$title-color);
        align-items: center;
        text-transform: uppercase;
    }
   
   
}
@media only screen and (min-width: 1024px){
    @mixin linkSize($sizeLink, $tonoColor){
        font-size: $sizeLink;
        color: $tonoColor;
    }

    
    .navbar-nav{
        @include linkSize(45px,$title-color);
        align-items: center;
        text-transform: uppercase;
    }

    
    
    #bloqueIndex{
        width: 95%;
        padding: 5px;
        margin: 10px;
    }
    
    #formContacto{
        border: 1.5px solid black;
        padding: 10px;
    }
    .table{
        border: 1.5px solid black;
        padding: 10px;     
        .table__row{
            padding: 10px;
            .table__item{
                padding: 10px;
                border: 1.5px solid black;
                text-transform: capitalize;
                text-align: center;
                &--titulo{
                    color: #10451D;
                    text-transform: uppercase;
                    width: 98%;
                    margin: 10px;
                }
                &--ciudad{
                    font-size: 40px;
                }
                
                .table__link{
                    text-decoration: none;
                    color: $title-color;
                }
            }
            
        }
    }
    
    
    .discos{
        display: flex;
        height: 100%;
        justify-content:space-around;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .discos__item{
            width: 30%;
            height: 400px;
            margin: 10px;
        }
    }
    
    
    .shop{
        img{
            object-fit: contain;
        }
        width: 98%;
        padding: 10px;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 450px 450px;
        justify-content: space-around;
        grid-template-areas: "mike billie tre" "mike2 billie2 tre2";
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        &__item{
            border: 2px dashed black;
            padding: 15px;
            font-size: 20px;
            &--uno{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike;
            }
            &--dos{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie;
            }
        
            &--tres{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre;
            }
            &--cuatro{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: mike2;
            }
            &--cinco{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: billie2;
            }
        
            &--seis{
                /*@extend .shop__item;*/
                border: 2px dashed black;
                padding: 15px;
                font-size: 20px;
                grid-area: tre2;
            }
        }
    
    }
    
}
